In [1]:
# ASSIGNMENT

name1 = "BILAL ABID"
name2 = "MUHAMMAD QASIM"
name3 = "MUHAMMAD OWAIS"
name4 = "MUHAMMAD Ali"
name5 = "MUHAMMD HASAN"

father_name1 = "Sohail Mir"
father_name2 = "Junaid"
father_name3 = "Sharoz"
father_name4 = "Kashif"
father_name5 = "Hammad"

university = "Bahria University"

card1 = """
Name: {}
Father Name: {}
University: {}
""".format(name1,father_name1,university)

card2 = """
Name: {}
Father Name: {}
University: {}
""".format(name2,father_name2,university)

card3 = """
Name: {}
Father Name: {}
University: {}
""".format(name3,father_name3,university)

card4 = """
Name: {}
Father Name: {}
University: {}
""".format(name4,father_name4,university)

card5 = """
Name: {}
Father Name: {}
University: {}
""".format(name5,father_name5,university)

print(card1)
print(card2)
print(card3)
print(card4)
print(card5)

Name: BILAL ABID
Father Name: Sohail Mir
University: Bahria University


Name: MUHAMMAD QASIM
Father Name: Junaid
University: Bahria University


Name: MUHAMMAD OWAIS
Father Name: Sharoz
University: Bahria University


Name: MUHAMMAD Ali
Father Name: Kashif
University: Bahria University


Name: MUHAMMD HASAN
Father Name: Hammad
University: Bahria University